#logo {
    color: #1640bd;
    margin: 0px 0px 0px 30px;
    
}
.header {
    background-color: white;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-items: flex-start;

}
.header > button {
    color: black;
    background-color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
#signup ,#login {
    color: black;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    border: groove;
    border-radius: 10px;
    background-color: rgb(236, 231, 231);
    display: flex;
    justify-content: flex-end;
}